.taskboard-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
  }
  
  .taskboard-column {
    width: 30%;
    background-color: #f4f5f7;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .taskboard-column h3 {
    text-align: center;
    font-size: 1.2em;
    color: #333;
    margin-bottom: 15px;
  }
  